<h2>Edit <%= @user.email.to_s.humanize %></h2>

<%= form_for @user, url: {action: "update"} do |f| %>
  <%#= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :home_address %><br/>
    <%= f.text_field :home_address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :work_address %><br/>
    <%= f.text_field :work_address, autofocus: true %><br/>
  </div><br>

  <% if !current_user.admin? %>
    <%= f.label :password %><br/>
    <%= f.password_field :password, autofocus: true %><br/>
  <% end %>

  <% if current_user.admin? %>
  <%= f.select(:role, [:admin, :guest, :operator], :prompt => 'Select') %>

    <div class="field">
      <%= f.label :approved %>
      <%= f.check_box :approved %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

