<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Home Address:</strong>
  <%= @user.home_address %>
</p>

<p>
  <strong>Work address:</strong>
  <%= @user.work_address %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.approved %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>

