<!DOCTYPE html>
<html>
	<head>
	  <title>SampleMongoidApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	  <div class="container">
	    <%#= render 'layouts/messages' %>
	    <%= flash_messages %>
		  <div class="navbar navbar-fixed-top navbar-inverse">
			  <div class="container">
			    <%= link_to "Mongoid app", '#', id: "logo" %>
			    <nav>
			      <ul class="nav navbar-nav navbar-right">
			      	<div class="my_class">
					      <% if user_signed_in? %>
					        Signed in as <%= current_user.email %>. Not you?
					        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
					      <% else %>
					        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
					      <% end %>
              </div>
			      </ul>
			    </nav>
			  </div>
			 </div>
	    <div class="container">
	      <%= yield %>
	    </div>
	  </div>
	</body>
</html>
